body {
    background-color: powderblue;
    position: relative;
    min-height: 98.3vh;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 550;
}
img{
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.2);
    filter: grayscale(.5);
}
.article {
    margin-bottom: 10px;
    overflow: hidden;
    float: none;
    text-align: center;
    background: #CFEEF2;
    min-height: 86.6vh;
    border-radius:10px; 
    box-shadow: 0px 0px 20px rgba(0,0,0,.2);


/*  border-left:  1px solid #A3A3A3;
    
  border-bottom: 1px solid #333333;*/
}
.article h1{
    color:MediumSeaGreen;
    font-size:40px;
    overflow: hidden;
    padding:20px;
    margin:30px;
    border-bottom: 2px solid #C1C1C1; 
    
    /* border: 2px solid grey;
     margin:30px;
     padding:20px;*/
}
#header_in_users{
   font-size: 3vh;
}
.article p{
   color: #005900;
   overflow: hidden;
   /* border: 2px solid grey;*/

    font-size:1,5vh;     
    margin:5px;
    padding:5px;
}
#user_bio{
   margin:30px;
   padding:20px;
}
.article h3{
   color: #005900;
   overflow: hidden;
   /* border: 2px solid grey;
    margin:30px;
    padding:20px;*/     
    margin:10px;
    margin-bottom: 0;
    padding:20px;
}
.article a{
   display: initial;
   list-style-type: none;
   margin: 10px;
   padding:10px;
   color:darkgreen;
}
.article ul{
  list-style-type: none;
   margin: 5px;
   padding:5px;
}

.article a:hover{
   background-color: transparent;
   text-decoration: underline;    
}

.article hr { 
   margin-top: 0.5em;
   margin-bottom: 0.5em;
   margin-left: 5vh;
   margin-right: 5vh;
   border-style: inset;
   border-width: 2px;
   border-color: #333333;
} 

#bottom p {
    color: MediumSeaGreen;
    text-align: right; 
    text-decoration: none;
    font-size: 1em;
    padding: 0.8vh;
    margin: 0;
    margin-left: -2vh;
    margin-right:-2vh;
    background-color: #333333;
    border-radius:10px 10px 0px 0px;    
}

.about{
    float: center;
    overflow: hidden;
    width: auto;
    min-height: 20vh;
    background: #EBFCFF;
    border-radius:10px;      
    box-shadow: 0px 0px 10px rgba(0,0,0,.2);
    text-align: center;
    margin: 5vh 6vh;
}