nav.top_menu {
    box-shadow: 0px 10px 10px rgba(0,0,0,.2);
    background-color: #333333;
    border-radius:0px 0px 10px 10px;
    padding: 0em;
}
#header{
    position: absolute;
    text-align: center;
    color: #F3F7F8;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 2.2em;
    left: 14.5em;
    right: 30em;
    margin: 0 auto;
}

@media(min-width:992px){
    .container.navbar{
        border-radius: 0px 0px 10px 10px;
    }
    .right_top {
        align-items: center;
     }
}

@media(max-width:992px){
    #header{
        position: relative;
        left:  0;
        right: 0;
    }
    .navbar-nav .d-flex{
        display: none!important;
    }
}

#mango_im{
    display: flex;
    align-items: center
}

#mango_im img{
    height: 1.7em;
    width: 1.7em;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.2);
    filter: grayscale(.5);
}

.top_menu a:link {
    color: MediumSeaGreen;
    background-color: transparent;
    text-decoration: none;
}
.top_menu a:visited {
    color: MediumSeaGreen;
    background-color: transparent;
    text-decoration: none;
}
.top_menu a:hover {
    color: MediumSeaGreen;
    background-color: transparent;
    text-decoration: underline;
}
.top_menu a:active {
    color: #55A655;
    background-color: transparent;
    text-decoration: underline;
}

.top_menu ul{
    list-style-type:none;
}

.left_top {
    float: left;
    text-align: left;
}

.right_top {
    text-align: left;
}

.top_menu li a {
    text-decoration: none;
    font-size: 1em;
    
}


.top_menu li {
    padding: 0.4em;
    margin: 0;
}
.top_menu li a:hover {
    background-color: #111111;
    text-decoration: none;
}