.menu {
    text-align:center;
    margin: 0px;
    padding-left: 0vh;
}
.menu li{
     background-color: #333333;     
     font-size:1.2em;
     margin-left: 0;
     padding-left: 0vh;     
     margin-top: 20px;
     border-radius:10px; 
     box-shadow: 0px 7px 7px rgba(0,0,0,.2);
 }

 @media(min-width:992px){
    .menu li{
        margin-right: 2vh;
      }   
}

@media(max-width:992px){
    .menu li{
        margin-right: 0vh;
      }
}
 .menu li:first-child{
    margin-top: 0px;
 }

 .menu a{
    display: block;
    color: MediumSeaGreen;
    font-size: 0.9em;
    padding:2vh;
}

.menu a:hover {
    background-color: #111111;
    border-radius:10px; 
}