<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap 4 Website Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
 
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400|Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="general.css">  
  <link rel="stylesheet" href="head.css"> 
  <link rel="stylesheet" href="menu.css">  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</head>
<body>

<nav class=" container navbar navbar-expand-lg top_menu ">
  <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <h1 id="header" class="navbar-brand">MANGO</h1>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="sfds">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="fdsf">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    
    <ul class="navbar-nav my-2 my-lg-0 right_top">
      <li class="nav-item active d-flex">
        <a href="/users/5bda52df5ff3ea1cf1fb8735" id="mango_im"><img src="http://localhost:3003/images/decaf_mango.jpg"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav>

  <div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-3 menu">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" href="/users"> Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/questions"> Questions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tests"> Tests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href=""> Help</a>
        </li>
      <!-- </ul> 
      <div >
        <a href="/users"> Users</a>
        <a href="/questions"> Questions</a>
        <a href="/tests"> Tests</a>
        <a href=""> Help</a>
      </div> -->
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-9 article">
      <h1 id="header_in_users">Good luck</h1>
      
          <div class="test">
            
            <h3>Question: {{question}}</h3>
            
            <img src = "{{picUrl}}" alt = "random picture" height = 300px width = 600px/>
            <br>
            
            <p> Rating:   {{rating}}      </p>
            <p> Points:   {{points}}      </p>
            <p> Type:     {{type}}        </p>
            
            <hr>
            <p> Answer:   {{trueAnswer}}  </p>
            <hr>
              
            <div style = "text-align:left">
            
                  <p> All answers: <p>      
            
                  <ol>
                          <li>  <p> {{fakeAnswer1}} </p>   </li>
                          <li>  <p> {{fakeAnswer2}} </p>   </li>
                          <li>  <p> {{fakeAnswer3}} </p>   </li>
                          <li>  <p> {{fakeAnswer4}} </p>   </li>
                  </ol>
            
            </div>
            
            <p> Author:<a href ="{{authorUrl}}" target="_blank" style="padding:0px;">{{author}}</a><br>Created: {{created}}</p>
              <form action="../update_Question/{{id}}" method="post"> 
                 <button class="btn btn-success" >Update</button>
              </form>
           </br>
                          
                  <button class="btn btn-danger" data-toggle="modal" data-target="#myModal" >Delete</button>
                  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="myModalLabel">Confirm operation</h4>
                        </div>
                        <div class="modal-body">
                          <h2>Are you sure?</h2>
                        </div>
                        <div class="modal-footer" style= "display:inline-block">
                        
                          <button class="btn btn-default" data-dismiss="modal">Close</button></li>       
                          <form action="../delete_Question/{{id}}" style="display: inline-block;" method="post">                
                            <button class="btn btn-danger" >Delete</button></li>
                          </form>
                        
                        </div>
                      </div>
                    </div>
                  </div>    
      
          </div>    </div>
  </div>
</div>
<!--
<div class="jumbotron text-center" style="margin-bottom:0">
  <p>Footer</p>
</div>
-->
</body>
</html>
